<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <style>
      .card {
        box-shadow: 0px 0px 15px -5px;
        transition: 0.5s;
        animation: ease-in-out;
        margin: 15px 15px 15px 15px;
        display: flex;
        border: none;
      }
      .card:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 15px 0px;
      }
      .bg-cover {
        background-size: cover !important;
        height: 300px;
      }
      .jumbotron bg-cover text-white:before {
        filter: 40%;
      }
      .row {
        margin-left: 15px;
        margin-right: 15px;
      }
      .all {
        background-image: radial-gradient(#a67b0c, #f2ca63, #dbb75a);
      }
      .display-4 font-weight-bold {
        font-weight: strong;
      }
      .font-italic text-muted {
        color: white;
      }
      .container py-5 {
        color: white;
      }
      .btn {
        width: 150px;
        justify-content: center;
        padding: 0/5rem;
        background-color: #f7ec92;
        transition: 0.2s;
        border-radius: 3px;
      }
      .btn-container {
        display: flex;
        justify-content: center;
      }

      .btn:hover {
        background: rgba(27, 156, 252, 0.1);
        transform: scale();
      }

      a {
        text-transform: uppercase;
        color: #189cfc;
        text-decoration: none;
        font-weight: bold;
      }
      .nav-link{
        transition: 0.5s;
        animation: ease-in-out;
      }
      .nav-link:hover{
        color:black;
         font-weight:bold;
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">DietRiot</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('show_about_us')}}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('show_recipes')}}">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('show_ingredients')}}">Ingredients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{url_for('show_diet_groups')}}>Diet Groups</a>
            </li>
          </ul>
          <!-- <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form> -->
        </div>
      </div>
    </nav>
    <div class="all">
      <!-- Bootstrap Static Header -->
      <div
        style="
          background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url(https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000);
        "
        class="jumbotron bg-cover text-white"
      >
        <div class="container py-5 text-center">
          <h1
            style="
              font-weight: 300px;
              font-size: 60px;
              font-family: gill sans;
              padding-top: 60px;
            "
          >
            RECIPES
          </h1>
          <p class="font-italic mb-0">
            Find all your favorite recipes at the click of a button, and explore
            new recipes based on ingredients you have or your diet!
          </p>
        </div>
      </div>

      <!-- For Demo Purpose -->
      <div class="container py-5">
        <div class="row" style="justify-content: center">
          <p
            style="
              text-align: center;
              font-weight: 300px;
              font-family: gill sans;
              font-size: 20px;
              color: black;
              width: 275px;
              height: 80px;
              background: rgba(255, 255, 255, 0.8);
              float: left;
              padding: 25px;
              outline: 1px dashed #cfaa70;
              outline-offset: -10px;
            "
          >
            Search for a recipe!
          </p>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-center flex-wrap">
        {% for recipe in recipes %}
        <div class="d-flex">
          <div class="card" style="width: 19rem; margin-right: 20px">
            <img
              class="card-img-top"
              style="height: 225px"
              src="{{recipe.image}}"
              alt="{{recipe.title}}"
            />
            <div class="card-body">
              <h5 class="card-title">{{recipe.title}}</h5>
              <p class="card-text">
                Cuisine type: {{recipe.cuisinetype}}<br />Meal type:
                {{recipe.mealtype}}<br />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-clock"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
                  />
                  <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
                  />
                </svg>
                {{recipe.time}}
              </p>

              <div class="btn-container">
                <a href="../recipes/{{recipe.title}}" class="btn">View More</a>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </body>
</html>
