html, body {
  height: 100%;
  width: 100%;
}
.main_image{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url(../Assets/main_bg.jpeg) no-repeat top right fixed;
  background-size: cover;
  padding-bottom: 30px;
  margin-top: -20px;
}
.card_image{
  background: url('../Assets/card_image.jpeg') no-repeat top right fixed;
  background-size: cover;
  height: 100%;
  padding-bottom: 30px;
  overflow: hidden;
}
.motivation{
  background: url('../Assets/motivation_bg.jpeg') no-repeat top right local;
  background-size: cover;
  height:100%;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
}
.bg-cover {
    background-size: cover !important;
    height: 300px;
  }
  .jumbotron bg-cover text-white:before {
    filter: 40%;
  }
  .row {
    margin-left: 15px;
    margin-right: 15px;
  }
  .all {
    background-image: radial-gradient(#07450c, #6d9c71);
  }
  .display-4 font-weight-bold {
    font-weight: strong;
  }
  .font-italic text-muted {
    color: white;
  }
  .container py-5 {
    color: white;
  }
  .btn {
    width: 150px;
    justify-content: center;
    padding: 0/5rem;
    background-color: rgba(7, 69, 12, 0.2);
    transition: 0.2s;
    border-radius: 3px;
  }
  .btn-container {
    display: flex;
    justify-content: center;
  }

  .btn:hover {
    background: rgba(27, 156, 252, 0.1);
    transform: scale();
  }

  a {
    text-transform: uppercase;
    color: #189cfc;
    text-decoration: none;
    font-weight: bold;
  }
  .rounded-square {
    border-radius: 10px;
  }
  .highlight {
    font-weight: bold;
  }
  .social-icons {
    display: flex;
    justify-content: center;
  }
  .social-icon i {
    font-size: 120px !important;
    margin: 0 10px;
  }
  .card-text a {
    text-transform: none;
  }
  div.all {
    padding-bottom: 50px;
  }

 
  .nav-item{
    transition: 0.5s;
    animation: ease-in-out;
  }
  .nav-item:hover{
    color:black;
     font-weight:bold;
  }
  .card-text{
  font-size: 25px;
  font-style: italic;
  font-family: blippo;
  color: black;
}
.card{
  transition: all 0.3s;
  background-color:rgba(252,241,235,0.75);
}
.card:hover{
  transform: scale(1.03);
}
.card-name{
  font-size:20px;
  text-align:right;
  font-family: optima;
  margin-right: 30px;
  color: black;
}
svg {
  vertical-align: text-bottom;
}
.carousel-item{
  width:100%;
  height: 40vh;
}